/* Imported Font Family */
/* Font Sourced From : https://fonts.google.com/ *

/* General Margins */
* {
  margin: 0;
  padding: 0;
}

/* Font Family */
body {
  font-family: "Roboto", sans-serif;
  background-color: #e7c590;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* <P> Color */
p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}

.nav-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: black;
}

.menu-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: black;
}

/* Flexbox Distribution */
nav,
.nav-links {
  display: flex;
}

/* Alignment */
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

/* Navigation link styling */
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

/* <a> text color w/o decoration */
a {
  color: black;
  text-decoration: none;
}

/* Hover styling */
a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* font size */
.logo {
  font-size: 2rem;
}

/* default cursor on logo */
.logo:hover {
  cursor: default;
}

/* Initally hide */
#hamburger-nav {
  display: none;
}

/* Set condition */
.hamburger-menu {
  position: relative;
  display: inline-block;
}

/* flex control / styling and location */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

/* Smoother transitions / style / color */
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

/* hamburger drop down pos
set hidden until nec */
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

/* Drop down <a tag styling
    for dropdown when open */
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

/* <li> no style
    remove bullets */
.menu-links li {
  list-style: none;
}

/* height location of drop box */
.menu-links.open {
  max-height: 300px;
}

/* Container padding for all
flex boxes */
section {
  padding-top: 4vh;
  height: 50vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* additonal flex control
to display  */
.section-container {
  display: flex;
}

/* Profile flex container */
/* justifies text to right of pic */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 40vh;
}

/* Pic and container postion and size */
.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* align text aligned right of pic */
.section__text {
  align-self: center;
  text-align: center;
}

/* <p> font weight */
.section__text p {
  font-weight: 600;
}

/* Section controllers
    resuable for all section text */
.section__text__p1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  color: black;
}

.section__text__p2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

/* Reusable tital text formatting */
.title {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

/* social icon flex control */
#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* reusable icon controllers
static and responsive versions
rotations for interactive experience */
.icon {
  cursor: pointer;
  height: 2rem;
}

.icon-responsive {
  cursor: pointer;
  height: 3rem;
}

.icon-responsive:hover {
  cursor: pointer;
  height: 3rem;
  transform: scale(1.3) rotate(25deg);
}

.icon-responsive-2 {
  cursor: pointer;
  height: 3rem;
}

.icon-responsive-2:hover {
  cursor: pointer;
  height: 3rem;
  transform: scale(1.3) rotate(-25deg);
}

.icon-responsive-3 {
  cursor: pointer;
  height: 3rem;
}

.icon-responsive-3:hover {
  cursor: pointer;
  height: 3rem;
  transform: scale(1.3) rotate(0deg);
}

/* button controls for project cards */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

/* btn colors */
.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

/* hover cursor controls */
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}
/* hover colors */
.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

/* text rem controls for size and space */
.btn-container {
  gap: 1rem;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* experience section flex control */
.experience-details-container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* container margins between 
each other, reused for other sections */
.about-containers-2 {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.project-title-2 {
  margin: 1rem;
  color: black;
}

/* singular container style
Creates the blue styled boxes around all 
items on the page for recent */
.details-container-2 {
  padding: 1rem;
  flex: 1;
  background: #b2cbf2;
  border-radius: 1rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

/* colors */
.color-container-2 {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  background-color: #b2cbf2;
}

/* inner container 
for exp items */
.article-container-2 {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

/* container bottom margin
     color and box/text style added*/
.experience-sub-title-2 {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

#projects-2 {
  position: relative;
}

/* about section pos */
#about {
  position: relative;
}

/* container margins between 
each other, reused for other sections */
.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* expereince and education flex location */
.about-details-container {
  justify-content: center;
  flex-direction: column;
}

/* flex between about me sections
     adjust from default columns*/
.about-containers,
.about-details-container {
  display: flex;
}

/* Primary reusable container style
Creates the blue styled boxes around all 
items on the page */
.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #b2cbf2;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

/* sets relative pos
to nearby affected items */
#experience {
  position: relative;
}

/* container bottom margin
     color and box/text style added*/
.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

/* experience section flex control */
.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* inner container 
for exp items */
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

/* flex and styling for container
holding above items */
article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

/* project box pos / styles
postitions and margins 
for all below */
#projects {
  position: relative;
}

/* colors */
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  background-color: #b2cbf2;
}

/* sets the wrap affect with rem
relative pos and sizes */
.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* contact flex size */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
}

/* box style and drawing
    color, position and setup */
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  background: #b2cbf2;
}

/* space between above container
    inner size that sets email and link
    spacing */
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

/* slight text increase */
.contact-info-container p {
  font-size: larger;
}

/* icon no cursor change */
.contact-icon {
  cursor: default;
}

/* icon size */
.email-icon {
  height: 2.5rem;
}

/* footer size and margin */
footer {
  height: 15vh;
  margin: 0 1rem;
}

/* center <p> text */
footer p {
  text-align: center;
}

/* Excessive Media Boxes to control flex containers. */
/* These all cover sizes from 600px to 3000px */
/* The individual sections have specific viewport heights
that control the containers to fit more accurately to the various devices */

/* Flex wrapping ensures that containers move around each other without overlapping */
@media screen and (max-width: 3000px), screen and (max-height: 3000px) {
  #profile {
    height: 50vh;
    margin-bottom: 6rem;
  }

  #profile-2 {
    height: 50vh;
    margin-bottom: 10rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects,
  #projects-2 {
    height: fit-content;
  }
}

@media screen and (max-width: 2500px), screen and (max-height: 2500px) {
  #profile {
    height: 50vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects,
  #projects-2 {
    height: fit-content;
  }
}

@media screen and (max-width: 2000px), screen and (max-height: 2000px) {
  #profile {
    height: 50vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects,
  #projects-2 {
    height: fit-content;
  }
}

@media screen and (max-width: 1400px), screen and (max-height: 1400px) {
  #profile {
    height: 50vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects,
  #projects-2 {
    height: fit-content;
  }
}

@media screen and (max-width: 1300px), screen and (max-height: 1400px) {
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
    height: 50vh;
  }

  #profile {
    margin-bottom: 10rem;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px), screen and (max-height: 1200px) {
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
    height: 50vh;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 900px), screen and (max-height: 600px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #contact,
  footer {
    height: 60vh;
  }
  #profile {
    height: 50vh;
    margin-bottom: 0;
    margin-bottom: 20rem;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
@media screen and (max-width: 600px), screen and (max-height: 600px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #contact,
  footer {
    height: 60vh;
  }
  #profile {
    height: 50vh;
    margin-bottom: 0;
    margin-bottom: 20rem;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
